<h1>Add a CD for @Model["artist"].GetName()</h1>
<p>Add a CD here:</p>
<form action="/cds" method="post">
  <input id="artist-id" name="artist-id" type="hidden" value='@Model["artist"].GetId()'>
  <label for="cd-name">CD Title</label>
  <input type="text" name="cd-name" id="cd-name">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back Home</a></p>
