<h1>Search</h1>
<p>Search for a CD:</p>
<form action="/search-artist" method="post">
  <label for="search-CD">Search</label>
  <input type="text" name="search-CD" id="search-CD">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back Home</a></p>
